# Cargo
debug/
target/

# Dotnet
obj/
bin/

# Backup files from rustfmt
**/*.rs.bk

# MSVC Windows builds of rustc
*.pdb

# Cargo mutants
**/mutants.out*/

# RustRover
.idea/

# VSCode
.vscode/

# Executables
*.exe
*.pdb

# Scripts
*.py
*.sh
*.ps1

# Data
*.bytes
*.json
*.log

# ASM
*.asm

# Artifacts
**/BenchmarkDotNet.Artifacts/
**/results/
**/profile/
**/ref/
**/fixtures/

# Tests
crates/memorypack/examples
