# Cargo
debug/
target/

# Dotnet
obj/
bin/

# Backup files from rustfmt
**/*.rs.bk

# MSVC Windows builds of rustc
*.pdb

# Cargo mutants
**/mutants.out*/

# RustRover
.idea/

# VSCode
.vscode/

# Executables
*.exe
*.pdb

# Scripts
*.py
*.sh
*.ps1

# Data
*.bytes
*.json
*.log

# ASM
*.asm

# Profiling
results/

# Tests
.NETGenerateMemoryPack/
.NETMemoryPack/

# Custom
memorypack/examples/
read_bytes.rs
