[workspace]
members = ["memorypack", "memorypack-derive", "memorypack-benchmarks/rust-benchmarks"]
resolver = "2"

[workspace.dependencies]
thiserror = "2.0"

[profile.release]
lto = true
codegen-units = 1
opt-level = 3

[profile.bench]
inherits = "release"
